*{
    margin: 0px;
    padding: 0px;
}
/*common shared style*/
body{
    font-family: 'Lato', sans-serif;

}
.banner{
    background-color: #E554731A;
    width: 1920px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}
.banner-title{
font-size: 80px;
font-weight: 700;
color: #272727;

}
.banner-description{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-top: 30px;
   
}
.button-primary{
font-size: 20px;
background: #E55473;;
color: #FFF;
padding:15px;
border-radius: 8px;
border: none;
font-weight: 700;
margin-top: 30px;

}
.banner-image{
width: 635px;
height: 800px;

}
.featured{
    width: 1920px;
    margin-bottom: 120px;
}
.content-text{
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    font-size: 40px;
}
.content-description{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 20px;
}
.featured-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pink-flower-img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    padding: 100px 60px 0px 60px;
   
}
.pink-flower-text{
    text-align: center;
    text-decoration: underline;
}
.mixed-flower-img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 310px;
    height: 428px;
    padding: 100px 60px 0px 60px;
}
.mixed-flower-text{
    text-align: center;
    text-decoration: underline;
}
.yellow-flower-img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 310px;
    height: 428px;
    padding: 100px 60px 0px 60px;
}
.yellow-flower-text{
    text-align: center;
    text-decoration: underline;
}
.hot-deal{
    width: 1920px;
    height: 540px;
    display: flex;
    gap: 80px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-text{
    text-align: center;
    margin-top: 180px;
}
.hot-deal-text-h1{
font-size: 40px;
font-weight: 700;
}
.off{
    color: #E55473;
}
.hot-deal-text-p{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.hot-deal-img{
    margin-top: 80px;
    width: 280px;
    height: 380px;
}
.instagram-section{
    width: 1920px;
}
.instagram-images{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.latest-deal{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin-left: 240px;
    border-radius: 8px;
}
.latest-deal-text{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    margin-top: 120px;
    font-weight: 700;
}
.latest-deal-description{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 20px;
}
.email{
    width: 600px;
    height: 30px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-left: 320px;
    margin-right: 10px;
}
.submit{
    font-size: 20px;
    background: #E55473;;
    color: #FFF;
    padding:20px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
}

.footer-text{
    color: #E55473;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-top: 50px;
    line-height: normal;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.copy{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
line-height: 30px;
}
.footer{
width: 1920px;
height: 300px;
background: #111010;


}
